body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #dd9ccf;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    margin: 10px;
    width: 300px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input, form select, form textarea, form button {
    margin: 10px 0;
}

footer {
    background-color: #c092b5;
    padding: 10px;
    text-align: center;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    body{
        background-color: rgba(30, 210, 201, 0.801);
    }
    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .gallery {
        flex-direction: column;
    }
}
